# Dependências
node_modules/

# Variáveis e segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporários
*.tmp
*.temp
.cache/

# Cobertura/testes
coverage/

# Build
dist/
build/
